{{ $page := . }}
{{ $featured := partial "blox-core/functions/get_featured_image.html" $page }}

{{/* Check whether to show breadcrumb navigation. */}}
{{ $show_breadcrumb := .Params.show_breadcrumb }}

<div class="container-fluid docs">
  <div class="row flex-xl-nowrap">
    <div class="col-12 col-md-3 col-xl-2 docs-sidebar">
      {{ partial "book_sidebar" . }}
    </div>

    {{/* Show ToC by default. */}}
    {{ if ne .Params.toc false }}
    <div class="d-none d-xl-block col-xl-2 docs-toc">
      {{ partial "blox-core/functions/get_hook" (dict "hook" "toc-start" "context" .) }}

      <ul class="nav toc-top">
        <li><a href="#" id="back_to_top" class="docs-toc-title">{{ i18n "on_this_page" }}</a></li>
      </ul>

      {{ .TableOfContents }}

      {{ partial "blox-core/functions/get_hook" (dict "hook" "toc-end" "context" .) }}
    </div>
    {{ end }}

  <main class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 docs-content" role="main">

  <div class="docs-article-container">
        {{ if $show_breadcrumb }}
          {{ partial "components/breadcrumb" $page }}
        {{ end }}
  </div>

{{/* Banner image */}}
{{ if and .Params.banner.image (not (and $featured (not .Params.image.preview_only))) }}

<div class="article-header">
  {{- $img := "" -}}
  {{ $alt := (.Params.banner.caption | default "") | plainify }}
  {{ $destination := .Params.banner.image }}
  {{ $is_remote := strings.HasPrefix $destination "http" }}
  {{- if not $is_remote -}}
    {{- $img = (.Page.Resources.ByType "image").GetMatch $destination -}}
    {{- if not $img -}}
      {{- $img = resources.Get (path.Join "media" $destination) -}}
    {{- end -}}
  {{- end -}}
  {{ if $img }}
    <img src="{{$img.RelPermalink}}" width="{{$img.Width}}" height="{{$img.Height}}" class="article-banner" alt="{{$alt}}">
  {{ else }}
    <img src="{{ .Params.banner.image }}" class="article-banner" alt="{{$alt}}">
  {{ end }}

  {{ with .Params.banner.caption }}<span class="article-header-caption">{{ . | markdownify | emojify }}</span>{{ end }}
</div>

{{/* Featured image layout */}}
{{ if and $featured (not .Params.image.preview_only) }}

{{/* Fit image within max size. */}}
{{ $image := $featured }}

{{/* Determine image placement. */}}
{{ $placement := .Params.image.placement | default 1 }}{{/* Default to full column width. */}}
{{/* Fit image to container's max width */}}
{{ $image_container := "" }}
{{ if eq $placement 2}}
  {{ $image_container = "container" }}
  {{ $image = $featured.Fit "1200x2500" }}
{{else if eq $placement 3}}
  {{ $image_container = "container-fluid" }}
  {{ $image := $featured.Fit "2560x2560" }}
{{else}}
  {{ $image_container = "article-container" }}
  {{ $image = $featured.Fit "720x2500" }}
{{end}}
{{ if ne $image.MediaType.SubType "gif" }}{{ $image = $image.Process "webp" }}{{ end }}

{{end}}
{{end}}

      <div class="docs-article-container">
        {{/* Fallback to filename as title (useful for default Obsidian note structure) */}}
        <h1>{{ cond (ne .File nil) (.Title | default (title .File.ContentBaseName)) .Title }}</h1>

        <article class="article-style">

          {{/* Only auto-list page children if _index has no content (or if it isn't a .File?) */}}
          {{ if and (not .Content) (gt (len $.Page.Pages) 0) }}
          <ul class="list-unstyled">
            {{ range $.Page.Pages }}
            <li>
              <h5><a href="{{.RelPermalink}}">{{.LinkTitle | default (title .File.TranslationBaseName) }}</a></h5>
              {{if .Summary}}<p>{{.Summary | plainify | emojify}}</p>{{end}}
            </li>
            {{end}}
          </ul>
          {{end}}

          {{ .Content }}

        </article>

        {{ partial "components/feedback" . }}

        {{ partial "tags.html" . }}

        {{/* Show next/previous pages by default. */}}
        {{ if ne .Params.pager false }}
        <div class="article-widget">
          {{ partial "components/pager" . }}
        </div>
        {{ end }}
      </div>

      <div class="body-footer">
        <p>{{ i18n "last_updated" }} {{ $.Lastmod | time.Format site.Params.locale.date_format }}</p>

        {{ partial "page_edit" . }}

        {{ partial "comments" . }}

        {{ partial "page_related" . }}
      </div>

      {{ partial "site_footer" . }}

    </main>
  </div>
</div>
